{% extends 'layout.html' %}
{%block body%}

<main class="cuentas-container" style="align-items: flex-start;">

  {% if user %}
    <div style="max-width: 400px; width: 100%;">
      <h1 class="bienvenida" style="text-align: left; font-size: 1.8rem; margin-bottom: 10px;">
        Hola {{ user.nombre_completo }}
      </h1>
      <p style="color: gray; font-size: 0.95rem; margin-bottom: 20px;">
        ¡Descubre lo nuevo de tu banco congelado!
      </p>

      <h2 style="font-size: 1.3rem; color: #520017; margin-bottom: 15px;">
        Mi resumen
      </h2>

      <div style="display: flex; gap: 10px; flex-wrap: wrap; margin-bottom: 20px;">
        <a href="#" class="btn-editar">Todos</a>
        <a href="#" class="btn-editar">Cuentas</a>
        <a href="#" class="btn-editar">Préstamos</a>
        <a href="#" class="btn-editar">Transferencia</a>
      </div>

      {% if cuentas %}
        <div class="cuadro-cuenta-principal">
          <h2>Principal</h2>
          <p><strong>{{ cuentas[0].tipo_cuenta | capitalize }}</strong> Nro {{ cuentas[0].numero_cuenta }}</p>
          <p>
            <span>Saldo disponible:</span><br>
            <span class="saldo">$ {{ '%.2f' | format(cuentas[0].saldo) }}</span>
          </p>
        </div>
      {% else %}
        <div class="cuadro-cuenta-principal">
          <h2>Sin cuentas</h2>
          <p>No hay cuentas asociadas.</p>
        </div>
      {% endif %}
    </div>
  {% endif %}

</main>




  <script>
    const menuToggle = document.getElementById('menuToggle');
    const sidebarMenu = document.getElementById('sidebarMenu');
    const overlayMenu = document.getElementById('overlayMenu');

    function toggleMenu() {
      sidebarMenu.classList.toggle('active');
      overlayMenu.classList.toggle('active');
    }

    menuToggle.addEventListener('click', toggleMenu);
    overlayMenu.addEventListener('click', toggleMenu);

    // Función para abrir modal y rellenar campos
  function abrirModal(id, tipo_cuenta, apodo, limite_retiro, max_retiros_diarios, id_usuario) {
    console.log('abrirModal llamado con id:', id);
    document.getElementById('modalEditar').style.display = 'block';
    document.getElementById('modal-id').value = id;
    document.getElementById('modal-tipo').value = tipo_cuenta;
    document.getElementById('modal-apodo').value = apodo;
    document.getElementById('modal-limite').value = limite_retiro;
    document.getElementById('modal-maxretiros').value = max_retiros_diarios;
    document.getElementById('modal-usuario').value = id_usuario;

    const form = document.getElementById('formEditarCuenta');
    form.action = "{{ url_for('cuentas.editar_cuenta', id=0) }}".replace('0', id);
  }


    function cerrarModal() {
      document.getElementById('modalEditar').style.display = 'none';
    }
  </script>
{%endblock%}
